# No direct access to any files except index.php
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /adhoc_demo/register/
    RewriteRule ^index\.php$ - [L]
    RewriteRule . /adhoc_demo/register/index.php [L,R=302]
</IfModule>
