html, body {
	background:#FFFFFF;
	color:#000000;
	font-family:OpenSans,Helvetica,Arial,sans-serif;
	height:100%;
	margin:0;
	padding:0;
	width:100%;
	}
body.dark {
	background:#000000;
	color:#EEEEEE;
	}

label {
	cursor:pointer;
	}

#page {
	height:100%;
	position:relative;
	width:100%;
	}

#theLightbox .nxj_lightbox {
	margin:0 auto;
	padding:3px;
	text-align:center;
	top:20%;
	}
.dark .nxj_lightbox {
	background:#000000;
	box-shadow:0 0 20px 7px #FFFFFF;
	}
#theLightbox.widthAuto .nxj_lightbox {
	max-width:60%;
	top:50px;
	width:auto;
	}
#theLightbox .nxj_input {
	box-sizing:border-box;
	font-size:20px;
	height:32px;
	width:100%;
	}
#theLightbox .searchHolder {
	float:left;
	height:32px;
	overflow:visible;
	position:relative;
	width:100%;
	z-index:0;
	}
.nxj_lightboxTitle.LBTitleError {
	color:#D70000;
	}
.nxj_lightboxTitle.LBTitleWarn {
	color:#E77F00;
	}
#lb_input_acList {
	background:#FFFFFF;
	border:1px solid #999999;
	left:0;
	position:absolute;
	top:31px;
	width:378px;
	z-index:1;
	}
#theLightbox.widthAuto #lb_input_acList {
	box-sizing:border-box;
	width:100%;
	}
#lb_input_acList .acItem {
	color:#000000;
	cursor:pointer;
	padding:4px 9px;
	}
#lb_input_acList .acItem.selected {
	background:#5FD7FF;
	}
#lb_input_acList .match {
	color:#1F6CE0;
	font-weight:bold;
	}
#lb_input_acList .reminder {
	color:#999999;
	float:right;
	max-width:150px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	}
#theLightbox.widthAuto #lb_input_acList .reminder {
	max-width:300px;
	width:300px;
	}
#lb_input_acList .sorry {
	color:#555555;
	font-style:italic;
	padding:2px 5px;
	}
#lb_input_acList .actionListItem {
	border:2px solid transparent;
	float:left;
	height:23px;
	margin-top:-3px;
	padding:1px 5px;
	}
#lb_input_acList .actionListSpacer {
	background:url('//static.harveyserv.ath.cx/adhoc/img/actionListSpacer.png') repeat 0 0;
	float:left;
	height:31px;
	margin-top:-4px;
	}
#lb_input_acList .actionListItem.actionDefin {
	border:2px solid #2FDF00;
	}
#lb_input_acList .actionListItem.actionCall {
	border:2px solid #5FD7FF;
	}
#lb_input_error,
#lb_comment_error,
#lb_tags_error {
	color:#FF0000;
	font-size:14px;
	height:20px;
	margin:5px 0 10px;
	width:380px;
	}
#theLightbox .attrName {
	line-height:22px;
	padding:5px 20px 5px 0;
	text-align:right;
	vertical-align:text-top;
	}
#theLightbox iframe {
	background:#FFFFFF;
	border:none;
	margin:0;
	padding:0;
	width:100%;
	}

#controls {
	background:#EEEEEE;
	border-bottom:1px solid #BBBBBB;
	box-shadow:0 -3px 4px 0 #BBBBBB inset;
	color:#000000;
	height:200px;
	left:0;
	overflow:visible;
	position:absolute;
	top:0;
	transition:top 0.85s;
	width:100%;
	z-index:2;
	}
#controls.collapsed {
	top:-200px;
	}
#controls .controlsLeft,
#controls .controlsRight {
	height:100%;
	position:relative;
	width:50%;
	}
#controls #projectName {
	background:none;
	border:none;
	box-shadow:none;
	color:#0000FF;
	cursor:pointer;
	overflow:hidden;
	padding:0;
	text-decoration:underline;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:142px;
	}
#controls label,
#controls span {
	float:left;
	line-height:20px;
	}
#controls span.nxj_cssButton {
	line-height:16px;
	}
span.nxj_button.nxj_cssButton.disabled.saving,
span.nxj_button.nxj_cssButton.disabled.saving:hover {
	background:linear-gradient(to bottom,#64AEF6 0%,#206BDF 100%) repeat scroll 0 0 rgba(0,0,0,0);
	border:1px solid #1F54BC;
	color:#EFF7FF;
	}
span.nxj_button.nxj_cssButton.disabled.saving:after {
	content:url('//static.harveyserv.ath.cx/adhoc/img/buttonLoading.gif');
	margin-left:3px;
	vertical-align:top;
	}
.nxj_cssButton .nxj_tipContent {
	font-size:14px;
	line-height:20px;
	text-align:left;
	text-transform:none;
	}
#projectSelect .nxj_selectOption {
	line-height:20px;
	}
#projectSelect .nxj_selectOption {
	box-sizing:border-box;
	float:left;
	width:100%;
	}
#projectSelect .projectOption {
	float:left;
	font-size:16px;
	margin-right:10px;
	}
#projectSelect .projectDate {
	color:#808080;
	float:left;
	font-size:11px;
	}
#generateButton {
	bottom:20px;
	position:absolute;
	right:10px;
	}
#controlsToggle {
	background:#EEEEEE;
	border:1px solid #BBBBBB;
	border-radius:0 0 10px 10px;
	border-top:none;
	bottom:-40px;
	cursor:pointer;
	height:30px;
	padding:10px 5px 5px;
	position:absolute;
	right:30px;
	width:20px;
	}
#controls #controlsToggle div {
	background:url('//static.harveyserv.ath.cx/adhoc/img/controlsToggle.png') no-repeat -20px 0;
	height:100%;
	width:100%;
	}
#controls.collapsed #controlsToggle div {
	background-position:0 0;
	}

#workspace {
	height:100%;
	width:100%;
	}

#toolbox {
	box-shadow:inset -3px 0px 4px 0px #BBBBBB;
	float:left;
	height:100%;
	overflow-x:visible;
	overflow-y:auto;
	width:20%;
	}
.dark #toolbox {
	box-shadow:inset -3px 0px 4px 0px #303030;
	}
.toolboxTitle {
	font-size:32px;
	height:8%;
	text-align:center;
	width:100%;
	}
.toolboxTabs {
	float:left;
	width:100%;
	}
.toolboxItems {
	float:left;
	width:100%;
	}
.toolboxTab {
	background:#EEEEEE;
	border:1px solid transparent;
	box-shadow:0 0 4px 3px #BBBBBB inset;
	cursor:pointer;
	float:left;
	font-size:18px;
	height:40px;
	line-height:40px;
	min-height:24px;
	padding:0 5px;
	}
.dark .toolboxTab {
	background:#333333;
	box-shadow:0 0 4px 3px #111111 inset;
	}
.Action .toolboxTab[data-target=Action] { border:1px solid #6FdF00; color:#6FdF00; }
.Group .toolboxTab[data-target=Group] { border:1px solid #808080; color:#808080; }
.Control .toolboxTab[data-target=Control] { border:1px solid #D7005F; color:#D7005F; }
.Operator .toolboxTab[data-target=Operator] { border:1px solid #AF5FFF; color:#AF5FFF; }
.Variable .toolboxTab[data-target=Variable] { border:1px solid #000000; }
.dark .Variable .toolboxTab[data-target=Variable] { border:1px solid #EEEEEE; }
.Literal .toolboxTab[data-target=Literal] { border:1px solid #FF8700; color:#FF8700; }
.toolboxItem {
	cursor:pointer;
	display:none;
	height:50px;
	width:100%;
	}
.toolboxItem.active,
.toolboxItem.active:hover {
	background:#7FFF00;
	color:#000000;
	}
.toolboxItem:hover {
	background:#5FD7FF;
	color:#000000;
	}
.Action .toolboxItem.Action ,
.Group .toolboxItem.Group ,
.Control .toolboxItem.Control ,
.Operator .toolboxItem.Operator ,
.Operator .toolboxItem.Assignment ,
.Variable .toolboxItem.Variable ,
.Literal .toolboxItem.Literal {
	display:block;
	}
.toolboxItemIcon {
	background:url('//static.harveyserv.ath.cx/adhoc/img/tools.png');
	float:left;
	height:40px;
	margin:5px 10px;
	width:40px;
	}
.toolIcon_1_1	{ background-position:  0px 0; }
.toolIcon_1_2	{ background-position:-40px 0; }
.toolIcon_2_3	{ background-position:-80px 0; }
.toolIcon_3_4	{ background-position:-120px 0; }
.toolIcon_3_5	{ background-position:-160px 0; }
.toolIcon_3_6	{ background-position:-200px 0; }
.toolIcon_3_7	{ background-position:-240px 0; }
.toolIcon_3_8	{ background-position:-280px 0; }
.toolIcon_3_9	{ background-position:-320px 0; }
.toolIcon_3_10	{ background-position:-360px 0; }
.toolIcon_3_11	{ background-position:-400px 0; }
.toolIcon_4_12	{ background-position:-440px 0; }
.toolIcon_4_13	{ background-position:-480px 0; }
.toolIcon_4_14	{ background-position:-520px 0; }
.toolIcon_4_15	{ background-position:-560px 0; }
.toolIcon_4_16	{ background-position:-600px 0; }
.toolIcon_4_17	{ background-position:-640px 0; }
.toolIcon_4_18	{ background-position:-680px 0; }
.toolIcon_4_19	{ background-position:-720px 0; }
.toolIcon_4_20	{ background-position:-760px 0; }
.toolIcon_4_21	{ background-position:-800px 0; }
.toolIcon_4_22	{ background-position:-840px 0; }
.toolIcon_4_23	{ background-position:-880px 0; }
.toolIcon_4_24	{ background-position:-920px 0; }
.toolIcon_4_25	{ background-position:-960px 0; }
.toolIcon_4_26	{ background-position:-1000px 0; }
.toolIcon_4_27	{ background-position:-1040px 0; }
.toolIcon_4_28	{ background-position:-1080px 0; }
.toolIcon_5_29	{ background-position:-1120px 0; }
.toolIcon_5_30	{ background-position:-1160px 0; }
.toolIcon_5_31	{ background-position:-1200px 0; }
.toolIcon_5_32	{ background-position:-1240px 0; }
.toolIcon_5_33	{ background-position:-1280px 0; }
.toolIcon_5_34	{ background-position:-1320px 0; }
.toolIcon_5_35	{ background-position:-1360px 0; }
.toolIcon_5_36	{ background-position:-1400px 0; }
.toolIcon_5_37	{ background-position:-1440px 0; }
.toolIcon_5_38	{ background-position:-1480px 0; }
.toolIcon_5_39	{ background-position:-1520px 0; }
.toolIcon_5_40	{ background-position:-1560px 0; }
.toolIcon_5_41	{ background-position:-1600px 0; }
.toolIcon_5_42	{ background-position:-1640px 0; }
.toolIcon_5_43	{ background-position:-1680px 0; }
.toolIcon_6_44	{ background-position:-1720px 0; }
.toolIcon_6_45	{ background-position:-1760px 0; }
.toolIcon_7_46	{ background-position:-1800px 0; }
.toolIcon_7_47	{ background-position:-1840px 0; }
.toolIcon_7_48	{ background-position:-1880px 0; }
.toolIcon_7_49	{ background-position:-1920px 0; }
.toolIcon_7_50	{ background-position:-1960px 0; }
.toolIcon_7_51	{ background-position:-2000px 0; }
.toolIcon_7_52	{ background-position:-2040px 0; }
.toolboxItemText {
	float:left;
	line-height:50px;
	}

#canvas {
	}

#histControls {
	bottom:10px;
	position:absolute;
	right:170px;
	}
#zoomControls {
	bottom:10px;
	position:absolute;
	right:10px;
	}
.histHolder,
.zoomHolder {
	border:1px solid #BBBBBB;
	cursor:pointer;
	float:left;
	padding:5px 8px;
	}
.histHolder:hover,
.zoomHolder:hover {
	background-color:#5FD7FF;
	}
.histHolder:active,
.zoomHolder:active {
	background-color:#7FFF00;
	}
#histBack.disabled:hover,
#histFwd.disabled:hover,
#zoomIn.disabled:hover,
#zoomOut.disabled:hover {
	background:none;
	}
.dark .histHolder,
.dark .zoomHolder {
	border-color:#303030;
	}
#histBack,
#zoomIn {
	border-radius:15px 0 0 15px;
	border-right:0;
	}
#histFwd,
#zoomOut {
	border-radius:0 15px 15px 0;
	}
#histBack.disabled .icon,
#histFwd.disabled .icon,
#zoomIn.disabled .icon,
#zoomOut.disabled .icon {
	opacity:0.4;
	}
.histHolder .icon {
	background:url('//static.harveyserv.ath.cx/adhoc/img/hist.png') no-repeat;
	height:26px;
	width:26px;
	}
.zoomHolder .icon {
	background:url('//static.harveyserv.ath.cx/adhoc/img/zoom.png') no-repeat;
	height:26px;
	width:26px;
	}
#histBack .icon { background-position:0 0; }
#histFwd .icon { background-position:-26px 0; }
#zoomIn .icon { background-position:-26px 0; }
#zoomOut .icon { background-position:0 0; }
#zoomPrcent {
	border-right:0;
	line-height:26px;
	width:45px;
	}
#zoomPrcent:hover,
#zoomPrcent:active {
	background:none;
	}
#zoomPrcent:after {
	content:"%";
	}

#output {
	background:rgba(255,255,255,0.90);
	height:100%;
	position:absolute;
	right:0;
	top:0;
	width:100%;
	z-index:3;
	}
.dark #output {
	background:rgba(0,0,0,0.90);
	}
#output .close {
	background:url('//static.harveyserv.ath.cx/adhoc/img/close.png') no-repeat;
	cursor:pointer;
	height:22px;
	position:absolute;
	right:13px;
	top:10px;
	width:22px;
	}
#output .close:hover {
	background-position:0 -22px;
	}
#output .outputControls {
	bottom:20px;
	position:absolute;
	right:10px;
	}
#output pre {
	box-sizing:padding-box;
	height:100%;
	margin:0;
	overflow:auto;
	padding:10px;
	width:100%;
	}



.registrationForm {
	border:1px solid #808080;
	border-radius:14px;
	margin:75px auto 0;
	padding:30px;
	text-align:center;
	width:400px;
	}
.registrationForm h2 {
	margin-top:0;
	}
.registrationForm ul.errors {
	background:#FFB6B6;
	border:1px solid #CF1000;
	color:#F30000;
	list-style:disc inside none;
	padding:10px;
	}
.registrationForm ul.errors li {
	}
#regForm {
	text-align:left;
	}
#regForm h4 {
	font-size:20px;
	margin:25px 0 5px;
	}
#regUser, #regPass {
	width:182px;
	}
#recaptcha_response_field {
	width:390px;
	}
#regForm .reminder {
	font-size:12px;
	margin:3px 0 9px;
	}
#recaptcha_image {
	float:left;
	margin-right:20px;
	}
#captcha_holder a {
	color:#808080;
	display:block;
	float:left;
	font-size:12px;
	text-decoration:underline;
	}
#recaptcha_audio_download {
	display:none;
	}
#regForm input[type=checkbox] {
	}
#regForm label {
	}
#regButton {
	}
.betaBox {
	bottom:10px;
	color:#FF1010;
	display:none;
	font-size:20px;
	left:15px;
	position:absolute;
	}
.beta .betaBox {
	display:block;
	}
