html, body {
	background:#FFFFFF;
	color:#000000;
	font-family:OpenSans,Helvetica,Arial,sans-serif;
	height:100%;
	margin:0;
	padding:0;
	width:100%;
	}
body.dark {
	background:#000000;
	color:#EEEEEE;
	}

label {
	cursor:pointer;
	}

#page {
	height:100%;
	position:relative;
	width:100%;
	}

#theLightbox .nxj_lightbox {
	margin:0 auto;
	padding:3px;
	text-align:center;
	top:20%;
	}
#theLightbox .nxj_input {
	font-size:20px;
	width:370px;
	}
#lb_input_error {
	color:#FF0000;
	font-size:14px;
	height:20px;
	margin:5px 0 10px;
	width:380px;
	}

#controls {
	background:#EEEEEE;
	border-bottom:1px solid #BBBBBB;
	height:150px;
	left:0;
	overflow:visible;
	position:absolute;
	top:0;
	transition:top 0.85s;
	width:100%;
	z-index:2;
	}
#controls.collapsed {
	top:-150px;
	}
#controls .controlsLeft,
#controls .controlsRight {
	height:100%;
	position:relative;
	width:50%;
	}
#controlsToggle {
	background:#EEEEEE;
	border:1px solid #BBBBBB;
	border-radius:0 0 10px 10px;
	border-top:none;
	bottom:-40px;
	cursor:pointer;
	height:30px;
	padding:10px 5px 5px;
	position:absolute;
	right:30px;
	width:20px;
	}
#controls #controlsToggle div {
	background:url('../img/controlsToggle.png') no-repeat -20px 0;
	height:100%;
	width:100%;
	}
#controls.collapsed #controlsToggle div {
	background-position:0 0;
	}

#workspace {
	height:100%;
	width:100%;
	}

#toolbox {
	box-shadow:inset -3px 0px 4px 0px #BBBBBB;
	height:100%;
	overflow-x:visible;
	overflow-y:auto;
	width:20%;
	}
.toolboxTitle {
	font-size:32px;
	height:8%;
	text-align:center;
	width:100%;
	}
.toolboxCategory {
	height:62%;
	max-height:62%;
	min-height:24px;
	overflow:hidden;
	position:relative;
	transition:height 0.4s, max-height 0.4s;
	}
.toolboxCategory.collapsed {
	height:6%;
	max-height:40px;
	}
.toolboxCategoryHeading {
	background:#EEEEEE;
	box-shadow:inset 0px 0px 4px 3px #BBBBBB;
	cursor:pointer;
	font-size:18px;
	height:40px;
	left:0;
	line-height:40px;
	min-height:24px;
	position:absolute;
	top:0;
	width:100%;
	z-index:1;
	}
.toolboxCategoryHeading:before {
	content:"\00A0\00A0";
	}
.dark .toolboxCategoryHeading {
	background:#333333;
	}
.toolboxCategoryBody {
	height:100%;
	overflow-y:auto;
	}
.toolboxCategory.collapsed .toolboxCategoryBody {
	overflow-y:hidden;
	}
.toolboxItem {
	cursor:pointer;
	height:50px;
	width:100%;
	}
.toolboxItem.active,
.toolboxItem.active:hover {
	background:#7FFF00;
	color:#000000;
	}
.toolboxItem:hover {
	background:#5FD7FF;
	color:#000000;
	}
.toolboxItemIcon {
	background:url('../img/tools.png');
	float:left;
	height:40px;
	margin:5px 10px;
	width:40px;
	}
.toolIcon_1_1	{ background-position:  0px 0; }
.toolIcon_1_2	{ background-position:-40px 0; }
.toolIcon_2_3	{ background-position:-80px 0; }
.toolIcon_3_4	{ background-position:-120px 0; }
.toolIcon_3_5	{ background-position:-160px 0; }
.toolIcon_3_6	{ background-position:-200px 0; }
.toolIcon_3_7	{ background-position:-240px 0; }
.toolIcon_3_8	{ background-position:-280px 0; }
.toolIcon_3_9	{ background-position:-320px 0; }
.toolIcon_3_10	{ background-position:-360px 0; }
.toolIcon_3_11	{ background-position:-400px 0; }
.toolIcon_4_12	{ background-position:-440px 0; }
.toolIcon_4_13	{ background-position:-480px 0; }
.toolIcon_4_14	{ background-position:-520px 0; }
.toolIcon_4_15	{ background-position:-560px 0; }
.toolIcon_4_16	{ background-position:-600px 0; }
.toolIcon_4_17	{ background-position:-640px 0; }
.toolIcon_4_18	{ background-position:-680px 0; }
.toolIcon_4_19	{ background-position:-720px 0; }
.toolIcon_4_20	{ background-position:-760px 0; }
.toolIcon_4_21	{ background-position:-800px 0; }
.toolIcon_4_22	{ background-position:-840px 0; }
.toolIcon_4_23	{ background-position:-880px 0; }
.toolIcon_4_24	{ background-position:-920px 0; }
.toolIcon_4_25	{ background-position:-960px 0; }
.toolIcon_4_26	{ background-position:-1000px 0; }
.toolIcon_4_27	{ background-position:-1040px 0; }
.toolIcon_4_28	{ background-position:-1080px 0; }
.toolIcon_5_29	{ background-position:-1120px 0; }
.toolIcon_5_30	{ background-position:-1160px 0; }
.toolIcon_5_31	{ background-position:-1200px 0; }
.toolIcon_5_32	{ background-position:-1240px 0; }
.toolIcon_5_33	{ background-position:-1280px 0; }
.toolIcon_5_34	{ background-position:-1320px 0; }
.toolIcon_5_35	{ background-position:-1360px 0; }
.toolIcon_5_36	{ background-position:-1400px 0; }
.toolIcon_5_37	{ background-position:-1440px 0; }
.toolIcon_5_38	{ background-position:-1480px 0; }
.toolIcon_5_39	{ background-position:-1520px 0; }
.toolIcon_5_40	{ background-position:-1560px 0; }
.toolIcon_5_41	{ background-position:-1600px 0; }
.toolIcon_5_42	{ background-position:-1640px 0; }
.toolIcon_5_43	{ background-position:-1680px 0; }
.toolIcon_6_44	{ background-position:-1720px 0; }
.toolIcon_6_45	{ background-position:-1760px 0; }
.toolIcon_7_46	{ background-position:-1800px 0; }
.toolIcon_7_47	{ background-position:-1840px 0; }
.toolIcon_7_48	{ background-position:-1880px 0; }
.toolIcon_7_49	{ background-position:-1920px 0; }
.toolIcon_7_50	{ background-position:-1960px 0; }
.toolIcon_7_51	{ background-position:-2000px 0; }
.toolIcon_7_52	{ background-position:-2040px 0; }
.toolboxItemText {
	float:left;
	line-height:50px;
	}

#canvas {
	}

#viewControls {
	bottom:10px;
	position:absolute;
	right:10px;
	}
.zoomHolder {
	border:1px solid #BBBBBB;
	cursor:pointer;
	float:left;
	padding:5px 8px;
	}
.zoomHolder:hover {
	background-color:#5FD7FF;
	}
.zoomHolder:active {
	background-color:#7FFF00;
	}
#zoomIn {
	border-radius:15px 0 0 15px;
	border-right:0;
	}
#zoomOut {
	border-radius:0 15px 15px 0;
	}
.zoomHolder .icon {
	background:url('../img/zoom.png') no-repeat;
	height:26px;
	width:26px;
	}
#zoomIn .icon {
	background-position:-26px 0;
	}
#zoomOut .icon {
	background-position:0 0;
	}

#output {
	height:100%;
	position:absolute;
	right:0;
	top:0;
	z-index:3;
	}
